


//main items all over the html body

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
    
}

// Colors

$main: #29CA8E;
$dark: #252020;
$tarnary: #3F51B5;
$head: #353535;
$para: #757575


//


